{% extends "base.html" %}
{% load static  %}

{% block title %}
	OPERACIONALES MINSA
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}

<div id="">
    <!-- <img src="./img/operacional/fondo.jpg" style="position: absolute; z-index: 0; width: 100%; height: 92%;" alt="fondo operacionales"> -->
    <div class="col-md-12 position-relative text-center">
        <h1 class="font-weight-lighter" style="font-style: italic; color: #ededed;">Reportes Operacionales</h1>
    </div>
    <div class="col-md-12 text-center" style="z-index: 1;">
        <a href="https://drive.google.com/uc?id=15WjRBSsvDPQDXTo3ewuGoYhQjkw87Bj_&export=download" class="btn btn-outline-dark m-3"><img src="{% static 'img/operacional/baby.png' %}" alt="niño"> Niño</a>
        <a href="https://drive.google.com/uc?id=15G6tsBMWkBXJK_D2Wvw707GnY4SNuE5C&export=download" class="btn btn-outline-info m-3"><img src="{% static 'img/operacional/vacuna.png' %}" alt="esni"> Esni</a>
        <a href="https://drive.google.com/uc?id=161-dELDqgpHHQLOh0rhLMgEfIdx1-2v7&export=download" class="btn btn-outline-success m-3"><img src="{% static 'img/operacional/gestante.png' %}" alt="materno"> Materno</a>
        <a href="https://drive.google.com/uc?id=1Lz3Ii4WpKR33gga_R1jBlsero1POxGQm&export=download" class="btn btn-outline-light m-3"><img src="{% static 'img/operacional/teen.png' %}" alt="adolescentes"> Adolescentes</a>
        <a href="https://drive.google.com/uc?id=158Nhcc-48Iw1yW976k4z9mLL61nBBD62&export=download" class="btn btn-outline-danger m-3"><img src="{% static 'img/operacional/vih.png' %}" alt="its-vih"> ITS/VIH</a>
        <a href="https://drive.google.com/uc?id=1Dkxaxhzo2jtYKCAEvfCuVZnufjWQHMQ4&export=download" class="btn btn-outline-success m-3"><img src="{% static 'img/operacional/grandparents.png' %}" alt="adulto mayor"> Adulto Mayor</a>
        <a href="https://drive.google.com/uc?id=15yTWrPRaRIgOzTmLMoUxMwVPA1mKDgR6&export=download" class="btn btn-outline-secondary m-3"><img src="{% static 'img/operacional/drugs.png' %}" alt="medicina"> Medicina</a>
        <a href="https://drive.google.com/uc?id=15UFR8ZmRH7QakvQobUbIRH9Igi-VMfVM&export=download" class="btn btn-outline-danger m-3"><img src="{% static 'img/operacional/cancer.png' %}" alt="cancer"> Cáncer</a>
        <a href="https://drive.google.com/uc?id=1WOweWh0zfpTqvHokwFTXhE6LUS8Fdqs7&export=download" class="btn btn-outline-warning m-3"><img src="{% static 'img/operacional/bipolar.png' %}" alt="salud mental"> Salud Mental</a>
        <a href="https://drive.google.com/uc?id=15bioyUJfUC97pAnS3_tAfK2iOe8gyQst&export=download" class="btn btn-outline-dark m-3"><img src="{% static 'img/operacional/young.png' %}" alt="joven"> Joven</a>
        <a href="https://drive.google.com/uc?id=10RIP7EIYuDxrld2Lw7cyM70-ZT1C7TrG&export=download" class="btn btn-outline-success m-3"><img src="{% static 'img/operacional/sneeze.png' %}" alt="tbc"> TBC</a>
        <a href="https://drive.google.com/uc?id=1ZTqmKZvT2IaxX2T_PWljIrgeOnmkS3vv&export=download" class="btn btn-outline-info m-3"><img src="{% static 'img/operacional/dengue.png' %}" alt="metaxenicas"> Metaxenicas</a>
        <a href="https://drive.google.com/uc?id=1ShIBqPuSMCy1s_qaA21C-C5PZn3U4hqU&export=download" class="btn btn-outline-dark m-3"><img src="{% static 'img/operacional/eye-drop.png' %}" alt="salud ocular"> Salud Ocular</a>
        <a href="https://drive.google.com/uc?id=13mXFQhd7_fBLcJC3cqBTuuRxNoxdYNui&export=download" class="btn btn-outline-info m-3"><img src="{% static 'img/operacional/tooth-brush.png' %}" alt="salud bucal"> Salud Bucal</a>
        <a href="https://drive.google.com/uc?id=1KhEWM9-zh1Io90k10pJCsGgaOPFn2YRf&export=download" class="btn btn-outline-primary m-3"><img src="{% static 'img/operacional/biting.png' %}" alt="zoonosis"> Zoonosis</a>
        <a href="https://drive.google.com/uc?id=1UIx_0wc37shOD4bD_fmzPgtHQ8mfBm1I&export=download" class="btn btn-outline-danger m-3"><img src="{% static 'img/operacional/family.png' %}" alt="planificacion familiar"> Planif. Familiar</a>
        <a href="https://drive.google.com/uc?id=1IL2Gl4TUsN9wn06btsQdy-BU8TSiqr8t&export=download" class="btn btn-outline-dark m-3"><img src="{% static 'img/operacional/glucosemeter.png' %}" alt="no transmisibles"> No Transmisibles</a>
    </div>
</div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}