{% extends "base.html" %}
{% load static  %}

{% block title %}
	TABLERO DESA
{% endblock title %}

{% block styles %}

{% endblock styles %}

{% block content %}

<div id="">
    <iframe class="mt-1" width="1030" height="600"
    src="https://app.powerbi.com/view?r=eyJrIjoiNmVhMWU4NDktN2VjYS00MWU2LTk0ODEtYzNmZjA1OTAwMzM5IiwidCI6ImNhOGZkNmVkLWFiMDEtNDVjNS1hMzMzLTBiNjEyZjY4M2VmYiJ9" title="Tablero Desa" frameborder="0" allowfullscreen></iframe>
</div>

{% endblock content %}

{% block scripts %}

{% endblock scripts %}